@charset "UTF-8";
/* http://css.spritegen.com/ */


.sprites {
background-image:url(/assets/pilot_report/temp.png);
background-color : transparent;
background-repeat : no-repeat;
display: block;
}

.c-stop-14 { background-position: -0px -0px; width: 30px; height: 30px; }
.c-stop-10-validated { background-position: -0px -30px; width: 30px; height: 30px; }
.c-stop-33-validated { background-position: -0px -60px; width: 30px; height: 30px; }
.c-stop-27-validated { background-position: -0px -90px; width: 30px; height: 30px; }
.c-stop-8 { background-position: -0px -120px; width: 30px; height: 30px; }
.c-stop-30 { background-position: -0px -150px; width: 30px; height: 30px; }
.c-stop-21 { background-position: -0px -180px; width: 30px; height: 30px; }
.c-stop-31 { background-position: -0px -210px; width: 30px; height: 30px; }
.c-stop-9-validated { background-position: -0px -240px; width: 30px; height: 30px; }
.c-stop-6 { background-position: -0px -270px; width: 30px; height: 30px; }
.c-stop-29 { background-position: -0px -300px; width: 30px; height: 30px; }
.c-stop-36-validated { background-position: -0px -330px; width: 30px; height: 30px; }
.c-stop-5-validated { background-position: -0px -360px; width: 30px; height: 30px; }
.c-stop-46 { background-position: -0px -390px; width: 30px; height: 30px; }
.c-stop-26 { background-position: -0px -420px; width: 30px; height: 30px; }
.c-stop-44 { background-position: -0px -450px; width: 30px; height: 30px; }
.c-stop-49 { background-position: -0px -480px; width: 30px; height: 30px; }
.c-stop-45-validated { background-position: -0px -510px; width: 30px; height: 30px; }
.c-stop-35 { background-position: -0px -540px; width: 30px; height: 30px; }
.c-stop-8-validated { background-position: -0px -570px; width: 30px; height: 30px; }
.c-stop-1-validated { background-position: -0px -600px; width: 30px; height: 30px; }
.c-stop-49-validated { background-position: -0px -630px; width: 30px; height: 30px; }
.c-stop-44-validated { background-position: -0px -660px; width: 30px; height: 30px; }
.c-stop-48 { background-position: -0px -690px; width: 30px; height: 30px; }
.c-stop-45 { background-position: -0px -720px; width: 30px; height: 30px; }
.c-stop-1 { background-position: -0px -750px; width: 30px; height: 30px; }
.c-stop-48-validated { background-position: -0px -780px; width: 30px; height: 30px; }
.c-stop-40 { background-position: -0px -810px; width: 30px; height: 30px; }
.c-stop-32 { background-position: -0px -840px; width: 30px; height: 30px; }
.c-stop-9 { background-position: -0px -870px; width: 30px; height: 30px; }
.c-stop-35-validated { background-position: -0px -900px; width: 30px; height: 30px; }
.c-stop-25 { background-position: -0px -930px; width: 30px; height: 30px; }
.c-stop-42 { background-position: -0px -960px; width: 30px; height: 30px; }
.c-stop-12-validated { background-position: -0px -990px; width: 30px; height: 30px; }
.c-stop-3 { background-position: -0px -1020px; width: 30px; height: 30px; }
.c-stop-15-validated { background-position: -0px -1050px; width: 30px; height: 30px; }
.c-stop-29-validated { background-position: -0px -1080px; width: 30px; height: 30px; }
.c-stop-22-validated { background-position: -0px -1110px; width: 30px; height: 30px; }
.c-stop-16-validated { background-position: -0px -1140px; width: 30px; height: 30px; }
.c-stop-34 { background-position: -0px -1170px; width: 30px; height: 30px; }
.c-stop-18 { background-position: -0px -1200px; width: 30px; height: 30px; }
.c-stop-32-validated { background-position: -0px -1230px; width: 30px; height: 30px; }
.c-stop-33 { background-position: -0px -1260px; width: 30px; height: 30px; }
.c-stop-7 { background-position: -0px -1290px; width: 30px; height: 30px; }
.c-stop-37 { background-position: -0px -1320px; width: 30px; height: 30px; }
.c-stop-40-validated { background-position: -0px -1350px; width: 30px; height: 30px; }
.c-stop-22 { background-position: -0px -1380px; width: 30px; height: 30px; }
.c-stop-50 { background-position: -0px -1410px; width: 30px; height: 30px; }
.c-stop-13-validated { background-position: -0px -1440px; width: 30px; height: 30px; }
.c-stop-2 { background-position: -0px -1470px; width: 30px; height: 30px; }
.c-stop-27 { background-position: -0px -1500px; width: 30px; height: 30px; }
.c-stop-43 { background-position: -0px -1530px; width: 30px; height: 30px; }
.c-stop-20-validated { background-position: -0px -1560px; width: 30px; height: 30px; }
.c-stop-4-validated { background-position: -0px -1590px; width: 30px; height: 30px; }
.c-stop-50-validated { background-position: -0px -1620px; width: 30px; height: 30px; }
.c-stop-11-validated { background-position: -0px -1650px; width: 30px; height: 30px; }
.c-stop-11 { background-position: -0px -1680px; width: 30px; height: 30px; }
.c-stop-36 { background-position: -0px -1710px; width: 30px; height: 30px; }
.c-stop-3-validated { background-position: -0px -1740px; width: 30px; height: 30px; }
.c-stop-16 { background-position: -0px -1770px; width: 30px; height: 30px; }
.c-stop-39-validated { background-position: -0px -1800px; width: 30px; height: 30px; }
.c-stop-46-validated { background-position: -0px -1830px; width: 30px; height: 30px; }
.c-stop-2-validated { background-position: -0px -1860px; width: 30px; height: 30px; }
.c-stop-28-validated { background-position: -0px -1890px; width: 30px; height: 30px; }
.c-stop-47 { background-position: -0px -1920px; width: 30px; height: 30px; }
.c-stop-31-validated { background-position: -0px -1950px; width: 30px; height: 30px; }
.c-stop-12 { background-position: -0px -1980px; width: 30px; height: 30px; }
.c-stop-21-validated { background-position: -0px -2010px; width: 30px; height: 30px; }
.c-stop-19-validated { background-position: -0px -2040px; width: 30px; height: 30px; }
.c-stop-30-validated { background-position: -0px -2070px; width: 30px; height: 30px; }
.c-stop-15 { background-position: -0px -2100px; width: 30px; height: 30px; }
.c-stop-37-validated { background-position: -0px -2130px; width: 30px; height: 30px; }
.c-stop-17-validated { background-position: -0px -2160px; width: 30px; height: 30px; }
.c-stop-39 { background-position: -0px -2190px; width: 30px; height: 30px; }
.c-stop-43-validated { background-position: -0px -2220px; width: 30px; height: 30px; }
.c-stop-38 { background-position: -0px -2250px; width: 30px; height: 30px; }
.c-stop-26-validated { background-position: -0px -2280px; width: 30px; height: 30px; }
.c-stop-18-validated { background-position: -0px -2310px; width: 30px; height: 30px; }
.c-stop-7-validated { background-position: -0px -2340px; width: 30px; height: 30px; }
.c-stop-25-validated { background-position: -0px -2370px; width: 30px; height: 30px; }
.c-stop-28 { background-position: -0px -2400px; width: 30px; height: 30px; }
.c-stop-47-validated { background-position: -0px -2430px; width: 30px; height: 30px; }
.c-stop-38-validated { background-position: -0px -2460px; width: 30px; height: 30px; }
.c-stop-23-validated { background-position: -0px -2490px; width: 30px; height: 30px; }
.c-stop-10 { background-position: -0px -2520px; width: 30px; height: 30px; }
.c-stop-4 { background-position: -0px -2550px; width: 30px; height: 30px; }
.c-stop-5 { background-position: -0px -2580px; width: 30px; height: 30px; }
.c-stop-24-validated { background-position: -0px -2610px; width: 30px; height: 30px; }
.c-stop-41-validated { background-position: -0px -2640px; width: 30px; height: 30px; }
.c-stop-42-validated { background-position: -0px -2670px; width: 30px; height: 30px; }
.c-stop-19 { background-position: -0px -2700px; width: 30px; height: 30px; }
.c-stop-23 { background-position: -0px -2730px; width: 30px; height: 30px; }
.c-stop-20 { background-position: -0px -2760px; width: 30px; height: 30px; }
.c-stop-24 { background-position: -0px -2790px; width: 30px; height: 30px; }
.c-stop-17 { background-position: -0px -2820px; width: 30px; height: 30px; }
.c-stop-6-validated { background-position: -0px -2850px; width: 30px; height: 30px; }
.c-stop-13 { background-position: -0px -2880px; width: 30px; height: 30px; }
.c-stop-41 { background-position: -0px -2910px; width: 30px; height: 30px; }
.c-stop-34-validated { background-position: -0px -2940px; width: 30px; height: 30px; }
.c-stop-14-validated { background-position: -0px -2970px; width: 30px; height: 30px; }
.control-add { background-position: -0px -3000px; width: 28px; height: 28px; }
.control-delete { background-position: -0px -3028px; width: 28px; height: 28px; }
.control-expand { background-position: -0px -3056px; width: 28px; height: 28px; }
.control-add:hover { background-position: -0px -3084px; width: 28px; height: 28px; }
.control-delete:hover { background-position: -0px -3112px; width: 28px; height: 28px; }
.control-expand:hover { background-position: -0px -3140px; width: 28px; height: 28px; }
.activity-dropoff:hover { background-position: -0px -3168px; width: 21px; height: 25px; }
.activity-dropoff-selected { background-position: -0px -3168px; width: 21px; height: 25px; }
.activity-entertainement:hover { background-position: -0px -3193px; width: 21px; height: 25px; }
.activity-entertainement-selected { background-position: -0px -3193px; width: 21px; height: 25px; }
.activity-shopping:hover { background-position: -0px -3218px; width: 21px; height: 25px; }
.activity-shopping-selected { background-position: -0px -3218px; width: 21px; height: 25px; }
.activity-work { background-position: -0px -3243px; width: 21px; height: 25px; }
.activity-entertainement { background-position: -0px -3268px; width: 21px; height: 25px; }
.activity-work_related:hover { background-position: -0px -3293px; width: 21px; height: 25px; }
.activity-work_related-selected { background-position: -0px -3293px; width: 21px; height: 25px; }
.activity-change_mode:hover { background-position: -0px -3318px; width: 21px; height: 25px; }
.activity-change_mode-selected { background-position: -0px -3318px; width: 21px; height: 25px; }
.mode-mrt { background-position: -0px -3343px; width: 21px; height: 25px; }
.mode-foot { background-position: -0px -3368px; width: 21px; height: 25px; }
.mode-car { background-position: -0px -3393px; width: 21px; height: 25px; }
.activity-home { background-position: -0px -3418px; width: 21px; height: 25px; }
.mode-taxi:hover { background-position: -0px -3443px; width: 21px; height: 25px; }
.mode-taxi-selected { background-position: -0px -3443px; width: 21px; height: 25px; }
.activity-change_mode { background-position: -0px -3468px; width: 21px; height: 25px; }
.activity-sport:hover { background-position: -0px -3493px; width: 21px; height: 25px; }
.activity-sport-selected { background-position: -0px -3493px; width: 21px; height: 25px; }
.mode-bus { background-position: -0px -3518px; width: 21px; height: 25px; }
.activity-toaccompany { background-position: -0px -3543px; width: 21px; height: 25px; }
.activity-school { background-position: -0px -3568px; width: 21px; height: 25px; }
.activity-personal { background-position: -0px -3593px; width: 21px; height: 25px; }
.activity-work:hover { background-position: -0px -3618px; width: 21px; height: 25px; }
.activity-work-selected { background-position: -0px -3618px; width: 21px; height: 25px; }
.mode-moto { background-position: -0px -3643px; width: 21px; height: 25px; }
.mode-bike:hover { background-position: -0px -3668px; width: 21px; height: 25px; }
.mode-bike-selected { background-position: -0px -3668px; width: 21px; height: 25px; }
.activity-dropoff { background-position: -0px -3693px; width: 21px; height: 25px; }
.mode-bus:hover { background-position: -0px -3718px; width: 21px; height: 25px; }
.mode-bus-selected { background-position: -0px -3718px; width: 21px; height: 25px; }
.activity-work_related { background-position: -0px -3743px; width: 21px; height: 25px; }
.activity-sport { background-position: -0px -3768px; width: 21px; height: 25px; }
.mode-foot:hover { background-position: -0px -3793px; width: 21px; height: 25px; }
.mode-foot-selected { background-position: -0px -3793px; width: 21px; height: 25px; }
.activity-school:hover { background-position: -0px -3818px; width: 21px; height: 25px; }
.activity-school-selected { background-position: -0px -3818px; width: 21px; height: 25px; }
.mode-other:hover { background-position: -0px -3843px; width: 21px; height: 25px; }
.mode-other-selected { background-position: -0px -3843px; width: 21px; height: 25px; }
.activity-other:hover { background-position: -0px -3843px; width: 21px; height: 25px; }
.activity-other-selected { background-position: -0px -3843px; width: 21px; height: 25px; }
.mode-mrt:hover { background-position: -0px -3868px; width: 21px; height: 25px; }
.mode-mrt-selected { background-position: -0px -3868px; width: 21px; height: 25px; }
.activity-socializing:hover { background-position: -0px -3893px; width: 21px; height: 25px; }
.activity-socializing-selected { background-position: -0px -3893px; width: 21px; height: 25px; }
.activity-medical:hover { background-position: -0px -3918px; width: 21px; height: 25px; }
.activity-medical-selected { background-position: -0px -3918px; width: 21px; height: 25px; }
.activity-toaccompany:hover { background-position: -0px -3943px; width: 21px; height: 25px; }
.activity-toaccompany-selected { background-position: -0px -3943px; width: 21px; height: 25px; }
.activity-religious { background-position: -0px -3968px; width: 21px; height: 25px; }
.activity-recreation:hover { background-position: -0px -3993px; width: 21px; height: 25px; }
.activity-recreation-selected { background-position: -0px -3993px; width: 21px; height: 25px; }
.mode-other { background-position: -0px -4018px; width: 21px; height: 25px; }
.activity-other { background-position: -0px -4018px; width: 21px; height: 25px; }
.mode-car:hover { background-position: -0px -4043px; width: 21px; height: 25px; }
.mode-car-selected { background-position: -0px -4043px; width: 21px; height: 25px; }
.activity-shopping { background-position: -0px -4068px; width: 21px; height: 25px; }
.activity-recreation { background-position: -0px -4093px; width: 21px; height: 25px; }
.mode-moto:hover { background-position: -0px -4118px; width: 21px; height: 25px; }
.mode-moto-selected { background-position: -0px -4118px; width: 21px; height: 25px; }
.activity-home:hover { background-position: -0px -4143px; width: 21px; height: 25px; }
.activity-home-selected { background-position: -0px -4143px; width: 21px; height: 25px; }
.mode-bike { background-position: -0px -4168px; width: 21px; height: 25px; }
.activity-personal:hover { background-position: -0px -4193px; width: 21px; height: 25px; }
.activity-personal-selected { background-position: -0px -4193px; width: 21px; height: 25px; }
.activity-socializing { background-position: -0px -4218px; width: 21px; height: 25px; }
.activity-religious:hover { background-position: -0px -4243px; width: 21px; height: 25px; }
.activity-religious-selected { background-position: -0px -4243px; width: 21px; height: 25px; }
.activity-dining { background-position: -0px -4268px; width: 21px; height: 25px; }
.activity-dining:hover { background-position: -0px -4293px; width: 21px; height: 25px; }
.activity-dining-selected { background-position: -0px -4293px; width: 21px; height: 25px; }
.mode-taxi { background-position: -0px -4318px; width: 21px; height: 25px; }
.activity-medical { background-position: -0px -4343px; width: 21px; height: 25px; }

.activity-otherhome { background-position: -0px -4393px; width: 21px; height: 25px; }
.activity-otherhome:hover { background-position: -0px -4368px; width: 21px; height: 25px; }
.activity-otherhome-selected { background-position: -0px -4368px; width: 21px; height: 25px; }


input[type="radio"].happiness {
    display:none;
}

input[type="radio"].happiness + label span {
  display:inline-block;
  background-image:url(/assets/smart/happiness-small-v2.png);
  background-color : transparent;
  background-repeat : no-repeat;

  width: 22px;
  height: 26px;

  background-position: -0px -313px;
}

input[type="radio"].happiness:checked + label span {
  background-position: -0px -284px;
}

input[type="radio"].happiness + label span:hover {
  background-position: -0px -284px;
}


/*input[type="radio"].happiness.mood-veryhappy:checked + label span {
  background-position: -0px -0px;
}
input[type="radio"].happiness.mood-veryhappy + label span:hover {
  background-position: -0px -0px;
}
input[type="radio"].happiness.mood-veryhappy + label span {
  background-position: -0px -28px;
}

input[type="radio"].happiness.mood-happy:checked + label span {
  background-position: -0px -57px;
}
input[type="radio"].happiness.mood-happy + label span:hover {
  background-position: -0px -57px;
}
input[type="radio"].happiness.mood-happy + label span {
  background-position: -0px -85px;
}

input[type="radio"].happiness.mood-neutral:checked + label span {
  background-position: -0px -114px;
}
input[type="radio"].happiness.mood-neutral + label span:hover {
  background-position: -0px -114px;
}
input[type="radio"].happiness.mood-neutral + label span {
  background-position: -0px -142px;
}

input[type="radio"].happiness.mood-unhappy:checked + label span {
  background-position: -0px -171px;
}
input[type="radio"].happiness.mood-unhappy + label span:hover {
  background-position: -0px -171px;
}
input[type="radio"].happiness.mood-unhappy + label span {
  background-position: -0px -199px;
}
input[type="radio"].happiness.mood-veryunhappy:checked + label span {
  background-position: -0px -228px;
}
input[type="radio"].happiness.mood-veryunhappy + label span:hover {
  background-position: -0px -228px;
}
input[type="radio"].happiness.mood-veryunhappy + label span {
  background-position: -0px -256px;
}*/

ul.happiness-answers {
  min-width: 232px;
}

ul.happiness-answers li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0px;
}

ul.happiness-answers-labels {
  width: 232px;
}

ul.happiness-answers-labels img {
  width: 30px;
  height: 30px;
}
