.container_12 {
	width: 1000px !important;
}
body {
	background: #FEFFFE;
	font-size:12px;
}

html {
  position: relative;
  min-height: 100%;
}

.white_block {
	height:200px;

	/*-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;*/
	/*background-color:#efefef;*/
	border-radius: 5px 5px 5px 5px;
	/*border-bottom: 1px solid #C9C8AB;*/

	box-sizing: border-box;
	ms-box-sizing: border-box;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	padding-left: 10px;
}

.full_height {
	height: 100%;
}
.white_block h4 {
	text-align: center;
	font-size: 16px;
	padding-top: 10px;
}
.white_block h1 {
	font-size: 80px;
	font-weight: bold;
	margin-top: 0;
	padding-top: 0;
}

.yellow_block,
#instrucoes{
	width:95%;
	/*height:8px;*/
	height:auto;
	margin-top:5px;
	margin-bottom:5px;
	padding:14px;
	/*-moz-box-shadow: 2px 2px 2px #333;
	-webkit-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;*/
	background-color:#FDFADF;
	border-radius: 5px 5px 5px 5px;
	border-bottom: 1px solid #C9C8AB;
}



p.instrucoes{
	color:#667E72;
	font-style:italic;
	font-size:11px;
	margin:0px;
	padding:0px;
	padding-left:4px;
	padding-top:1px;
	/*padding-bottom:5px;*/
	line-height: 15px;
}

p.instrucoes2{
	color:#667E72;
	font-style:italic;
	font-size:11px;
	margin:0px;
	padding:0px;
	padding-left:4px;
	padding-top:1px;
	padding-bottom:10px;
	line-height: 15px;
}

.people_list {
	width: 120px;
}

.trace_date {
	width: 100px;
}

.alert_container {
	position: fixed;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	z-index: 5000;
}
.ink-alert.basic.backoffice_alert {
	margin-top: 5px;
}

/*------------------------------------------------------------------------------------------
+ Helpcenter Stylesheet
------------------------------------------------------------------------------------------*/
#backoffice_calendar_holder table {
	margin: 0 auto !important;
}

#backoffice_calendar_holder tr {
}

#backoffice_calendar_holder td.timeslot {
	padding: 0;
}

#backoffice_calendar_holder td.timeslot span {
	display: block;
	border: 1px solid #ccc;
	margin: 1px;
	border-radius: 3px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

#backoffice_calendar_holder td.timeslot:hover.slot_status_free span{
	background: #ccc !important;

	cursor: pointer;
}

#backoffice_calendar_holder td.timeslot.slot_status_occupied span {
	background: #FCDBA8;
	border-color: #FCDBA8;
}

#backoffice_calendar_holder td.timeslot.slot_reserved span {
	border: 1px solid #880B0E;
	border-color: #880B0E;
	cursor: default;
}

.user_selection select {
	width: 98%;
}

/*------------------------------------------------------------------------------------------
+ Helpcenter Stylesheet - users list
------------------------------------------------------------------------------------------*/


.search_user {
	text-align: right;
	margin-bottom: 5px;
	margin-top: 5px;
}
.search_user input {
	width: 90%;
	right: 0;
}

.users_list {
	height: 300px;
	overflow: auto;
	border-top: 1px solid #aaa;
}

.users_list table {
	margin-left: 0;
}


.flot-overlay,
.flot-text,
.legend div+table {
	margin-top: 0 !important;
}

#ui-timepicker-div {
	font-size: 12px;
}


/*------------------------------------------------------------------------------------------
+ ViewData
------------------------------------------------------------------------------------------*/

.raw_item .name{
	width: 100px;
	display: inline-block;
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	line-height: 30px;
}

.map_wrapper {
	position: relative;
}

.actselect {
	width: 75px;
}

#stops .main_activity_name {
	overflow: auto;
	padding-left: 5px;
}

/* Bootstrap sticky footer */
#wrap {
/*  min-height: 100%;
  height: auto;*/
  /* Negative indent footer by its height */
  margin-bottom: 130px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

.footer {
	height: 110px;
  background-color: #A01517;

  position: absolute;
  bottom: 0;
  width: 100%;
}

.credit {
  margin-top: 50px;
}
