%p
  Hello #{@content[:user]},
%p
  Please note that you have to complete the survey by the
  %i 30th of September
  to qualify for the thank you gift. This means that you should collect data for 14 days and complete the activity diary for at least 5 of those collected days by the ending date.
%p Thank you for your participation!
%p Best regards,
%p
  Future Urban Mobility Group
  %br/
  Singapore-MIT Alliance for Research and Technology
