Hi #{@content[:user]},

It seems that you have requested to have your password reset.

Please use the link below to set your new password. Note that this link will expire in 24 hours.

\#{@content[:edit_password_reset_url]}

If the above URL does not work, try copying and pasting it into your browser.
If you continue to have problems, please feel free to contact us.

If you did not make this request, simply ignore this e-mail.

The London Mobility Survey team
