%div{id: "d-" + id.dasherize}
  %p.heading
    = t "sp_experiment.labels.#{section}.#{id}"
  = t("sp_experiment.labels.#{section}.#{subtitle_html_t}").html_safe

  - questions_t.each do |question_t|
    - question = t "sp_experiment.labels.#{section}.questions.#{question_t}"
    .form-group.row{id: question_t.dasherize}
      %label.control-label.col-sm-6.col-form-label
        = question
      .col-sm-6
        = number_field_tag question_t, nil, min: min, max: max, class: 'form-control', required: true
