= stylesheet_link_tag params[:controller]
- section = params[:id]
- if javascript_exists? section
  = javascript_include_tag "sections/#{section}"

- if @show_side_bar
  .row
    .col-md-3
      %p.title_2.survey_title
        = t("sp_experiment.labels.survey").upcase
      %p.title_3= @variables[:title].upcase
      %p.content_i= t("sp_experiment.labels.wwyd")
    .col-md-9
      = render 'form'

- else
  .col-xs-offset-1.col-xs-10
    = render 'form'
